@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: 0, 100%, 50%;
    --primary-foreground: 255, 255, 255;
    --secondary: 120, 100%, 50%;
    --secondary-foreground: 255, 255, 255;
    --destructive: 0, 100%, 50%;
    --destructive-foreground: 255, 255, 255;
    --background: 210, 10%, 90%;
    --foreground: 0, 0%, 100%;
    --card: 240, 15%, 85%;
    --card-foreground: 0, 0%, 20%;
    --accent: 240, 100%, 50%;
    --accent-foreground: 255, 255, 255;
    --muted: 180, 10%, 40%;
    --muted-foreground: 255, 255, 255;
    --border: 220, 20%, 90%;
    --input: 0, 0%, 100%;
    --ring: 240, 100%, 80%;
  }
  
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
